body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #B2EBF2, #A5D6A7);
    color: #333;
}
header {
    background-color: #1a1a1a;
    padding: 5px 0;
    text-align: center;
}
nav {
    display: flex;
    background-color: #333;
    justify-content: center;
    gap: 20px;
}
nav a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    color: white;
    text-decoration: none;
}
nav a:hover {
    background-color: green;
    color: white;
    transform: scale(1.1);
}
h1 {
    color: rgb(254, 254, 254);
    text-shadow: 5px 5px 5px black;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
h1 img {
    width: 250px;
    height: auto;
    padding: 0px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-direction: column; /* For better mobile responsiveness */
}
.check-suitability-box {
    background-color: #33333341;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.709);
    border-radius: 8px;
    width: 250px;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin: 0%;
    color: rgb(255, 255, 255);
    background-color: #4CAF50;
    font-family: default;
    font-weight: lighter;
    border-radius: 0.1cm;
    text-shadow: 2px 2px 2px #333333d0;
}

.box1, .box2 {
    background-color: #ffffff9e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.484);
    padding: 10px;
    margin-top: 0.5cm;
    border-radius: 0.15cm;
}
.check-suitability-box select, .check-suitability-box button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
}
.check-suitability-box select {
    background-color: #e1e1e1bc;
    border-radius: 0.15cm;
}
.check-suitability-box button {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f4f4f4;
    background-color: #333;
    padding: 5px;
    border-radius: 0.2cm;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.767);
    cursor: pointer;
    margin-top: 0.5cm;
}
.check-suitability-box button:hover {
    background-color: #45a049;
}

.parameter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #ffffff9e;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.484);
    margin-top: 20px; /* Add space between container and parameter container */
    width: 80%; /* Center alignment */
}

.parameters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}
.parameter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 18px;
    color: #333;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.484);
    transition: background-color 0.5s;
}
.overall-suitability {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.484);
}
.circle {
    font-size: 20px;
    font-weight: 1000;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .parameter-container {
        width: 100%;
        margin-right: 0;
    }

    .parameters {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .parameters {
        grid-template-columns: 1fr;
    }
    
    .parameter {
        width: 120px;
        height: 120px;
    }
}